<style>
    #MainView
    {
        height: 100vh;
        background-color:#ffffff;
    }
</style>

<div id="MainView" class="container-fluid">
    <spaceships style="margin: 20px;"></spaceships>
</div>