.calculadora{
    display:blok;
    margin:0 auto;
    padding:20px;
    background-color: black;
    width: 500px;
    height: 700px;
    border-radius:30px;
}
.calculadora td button{
    display: block;
    width: 130px;
    height: 130px;
    font-size: 90px;
}
#resultado{
    display:block;
    text-align: center;
    font-size: 120px;
    margin-bottom: 60px;
    width: 600px;
    height: 150px;
    line-height: 100px;
    background-color: darkgrey;
    border-radius: 60px;
    overflow-y: scroll;
}