<style>
    #SpaceshipView
    {        
        background-color: rgb(7, 100, 88);
    }

    .myGrid 
    {
        margin: 5px;
    }
</style>


<div id="SpaceshipView" class="container-fluid h-100">
    Spaceship View
    
    <form>
        <div class="form-group">
          <label for="Brand">Brand</label>
          <input type="text" class="form-control" id="Brand" aria-describedby="textHelp" placeholder="Enter Brand" ng-model="vm.Brand">
          <small id="textHelp" class="form-text text-muted">Put the brand of the ship.</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="Password" class="form-control" id="idpassword" aria-describedby="textPassword" placeholder="Enter Password" ng-model="vm.Password">
            <small id="textPassword" class="form-text text-muted">We will not store the plain password but hashed.</small>
          </div>

          <div class="form-group">
            <label for="Factor">Factor</label>
            <input type="text" class="form-control" id="Factor" aria-describedby="textHelp" placeholder="Enter Factor" ng-model="vm.Factor">
            <small id="textHelp" class="form-text text-muted">Put the Factor of the ship.</small>
          </div>

          <div class="form-group">
            <label for="Color">Color</label>
            <input type="text" class="form-control" id="Color" aria-describedby="textHelp" placeholder="Enter Color" ng-model="vm.Color">
            <small id="textHelp" class="form-text text-muted">Put the Color of the ship.</small>
          </div>

          <div class="form-group">
            <label for="PassengerCapacity">PassengerCapacity</label>
            <input type="text" class="form-control" id="PassengerCapacity" aria-describedby="textHelp" placeholder="Enter PassengerCapacity" ng-model="vm.PassengerCapacity">
            <small id="textHelp" class="form-text text-muted">Put the PassengerCapacity of the ship.</small>
          </div>

          <button class="Center" ng-click="vm.Add()">Add</button>
          <button class="Center" ng-click="vm.Delete()">Delete</button>
          <button class="Center" ng-click="vm.Edit()">Edit</button>
          <button class="Center" ng-click="vm.save()">save</button>
      </form>

    <div ui-grid="vm.GridOptions" class="myGrid h-100"></div>


</div>