<body>

    <div>

    Input number 1<input id="TbNum1" type="text"/>
    <br/>
    Input number 2<input id="TbNum2" type="text"/>
    <br/>

    <Input type="button" value="Add" onclick="Add()"/>
    <br/>
    <Input type="button" value="Res" onclick="Res()"/>
    <br/>
    <Input type="button" value="Mul" onclick="Mul()"/>
    <br/>
    <Input type="button" value="Div" onclick="Div()"/>
    <br/>

    <label id="LbOutput"></label>

    </div>

</body>

<script>
function Add()
{
    var num1 = TbNum1.value * 1; 
    var num2 = TbNum2.value * 1;

    var sum = num1 + num2;

    LbOutput.innerHTML = "the sumatory is" + sum;
}
    function Res()
    {
        var num1 = TbNum1.value * 1; 
        var num2 = TbNum2.value * 1;
    
        var Res = num1 - num2;
    
        LbOutput.innerHTML = "the sumatory is" + Res;
    }
    function Mul()
    {
        var num1 = TbNum1.va
        lue * 1; 
        var num2 = TbNum2.value * 1;
    
        var Mul = num1 * num2;
    
        LbOutput.innerHTML = "the Mul is" + Mul;
    }
    

    </script>